<div class="container col-md-8">
   <div class="row">
      <div class="col-md-7">
         <img src="{{pokemon.image}}" width="400" height="500" alt="Image of product">
      </div>
      <div class="col-md-5 card bg-warning">
         <h1 class="text-center bg-success">Information of product</h1>
         <h3>Name: {{ pokemon.name }}</h3>
         <h3>Category: {{ pokemon.category }}</h3>
         <h3>Origin: {{ pokemon.origin }}</h3>
         <h3>Price: {{ pokemon.price }}</h3>
         <h3>Description: {{ pokemon.description }}</h3>
      </div>
   </div>
</div>